[DEFAULT]
BeginString=FIX.4.4
ConnectionType=acceptor
StartTime=00:00:00
EndTime=00:00:00
StartDay=Sunday
EndDay=Saturday
HeartBtInt=30
UseDataDictionary=Y
DataDictionary=FIX44.xml
ResetOnLogon=N
ResetOnLogout=N
ResetOnDisconnect=N
RefreshOnLogon=Y
FileStorePath=/var/lib/hokeka/fix/store
FileLogPath=/var/lib/hokeka/fix/log
SocketAcceptPort=9878

[SESSION]
SenderCompID=HOKEKA_AML
TargetCompID=REPLACE_WITH_COUNTERPARTY
HokekaPspId=1
HokekaUsername=REPLACE_WITH_FIX_USERNAME
HokekaPassword=REPLACE_WITH_LONG_RANDOM_SECRET
HokekaDefaultCurrency=KES
HokekaCustomerIdTag=9001
HokekaBeneficialOwnerTag=9002
HokekaReferencePriceTag=9003
HokekaMarketCloseAtTag=9004
HokekaCounterpartyCustomerIdTag=9005
HokekaCounterpartyReferenceTag=9006
HokekaCounterpartyBeneficialOwnerTag=9007
HokekaSettlementAccountTag=9008
HokekaDeviceFingerprintTag=9009
